body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/* ----------------------- header section----------------------  */
.header-section {
  display: flex;
  margin-bottom: 8%;
}
.header-texts {
  width: 50%;
  margin-top: 12%;
  margin-left: 5%;
}
.header-texts h1 {
  font-size: 45px;
  color: #525252;
}
.header-texts p {
  color: gray;
  text-align: justify;
}
.header-texts .button {
  margin-top: 12%;
}
.header-img {
  width: 70%;
}
#hearder-image {
  width: 80%;
  margin-top: 7%;
  margin-left: 15%;
}
span {
  color: tomato;
}
button {
  width: 200px;
  margin-top: 60px;
  margin-bottom: 50px;
  height: 70px;
  background: linear-gradient(90deg, #fba24f, #f51313);
  box-shadow: 0px 2px 30px tan;
  border-radius: 90px;
  border: none;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: inherit;
}
/* ----------------------about section -----------------------*/

.about-section {
  display: flex;
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10%;
  margin-bottom: 5%;
}
.about-images-texts {
  width: 50%;
}

.about-images-texts h1 {
  font-size: 35px;
}
#about-image {
  width: 130%;
  margin-left: -15%;
  padding-top: 10%;
  height: 540px;
}
#about-text {
  margin-top: 5%;
  margin-left: 5%;
}
.about-paragraph p {
  padding-right: 20%;
  padding-top: 2%;
  font-size: 20px;
  color: #525252;
  text-align: justify;
  line-height: 1.5em;
}

/*------------------------ My recipies----------------------- */
.recipies-tittle {
  text-align: center;
  padding: 20px 20px;
}
.recipies-tittle h1 {
  font-size: 35px;
}
.recipies-tittle p {
  font-size: 20px;
  font-weight: 100;
  color: #525252;
}
.food-item {
  display: flex;
  margin-top: 5%;
}
.item-cards {
  width: 25%;
  box-shadow: 10px 10px 50px gray;
  border-radius: 25px;
  padding: 20px;
}
#food-item-1 {
  margin: 0px 3% 3% 5%;
}
#food-item-2 {
  margin: 0px 3% 3% 0px;
}
#food-item-3 {
  margin: 0px 5% 3% 0px;
}
.food-item img {
  width: 100%;
  height: 280px;
  border-radius: 20px;
}
/* ----------------------social section---------------------- */
.social {
  display: flex;
  margin: 10%;
  border-radius: 20px;
  box-shadow: 10px 10px 50px gray;
}
.social-links {
  padding: 7%;
  margin-left: 3%;
}
.social-links h1 {
  text-align: center;
  font-size: 40px;
}
/* ------------------------contact us-------------------------- */

.contact-tittle {
  text-align: center;
  margin-bottom: 5%;
}
.contact-tittle h1 {
  font-size: 30px;
}
.contact-form {
  display: flex;
  margin-bottom: 5%;
}
.contact-details {
  width: 50%;
  padding-top: 3%;
  border-radius: 10px;
  margin-left: 2%;

  padding-bottom: 2%;
  padding-top: 2%;

  background-color: rgb(218, 203, 203);
}
#contact-img {
  width: 50%;
}
#contact-img img {
  width: 100%;
  margin-top: 5%;
}
input,
textarea {
  background-color: rgb(243, 237, 237);
  margin-left: 15%;
  width: 400px;
  border: 3px solid grey;
  border-radius: 20px;
  height: 35px;
  margin-top: 10px;
  font-size: 14px;
}
#text-box {
  height: 120px;
  font-family: inherit;
  font-size: 18px;
  border-radius: 10px;
}
.submit-button {
  background-color: gray;

  margin-left: 35%;
  border-radius: 10px;
  padding: 20px 50px;
  margin-top: 20px;
  width: 120px;
}
.submit-button a {
  text-decoration: none;
  color: white;
  text-align: center;
}

/* ----------------------------footer-------------------------- */
.footer {
  background-color: black;
  width: 100%;
  height: 280px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
.footer p {
  padding-top: 35px;
  color: gray;
}
.credit {
  margin-top: 110px;
  margin-left: 80%;
}
.credit a {
  text-decoration: none;
}
